body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $font-color;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
header { min-height: 115px; margin-bottom: 40px; background-color: $header-background-color; }
.container { width: $desktop-container; }
.container {
  padding-right: $desktop-container-padding;
  padding-left: $desktop-container-padding;
  margin-right: auto;
  margin-left: auto;
}
.container:before, .container:after {
  display: table;
  content: " ";
}
.container:after { clear: both; }
.sidebar {
  width: $desktop-sidebar-width;
  background-color: $sidebar-background-color;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.content {
  width: $desktop-content-width;
  background-color: $content-background-color;
  margin-left: 60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.block {
  min-height: 400px;
  background-color: $background-color;
  margin-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px; }
.block h2 { color: #3ba8c0; }
.sidebar, .content { float: left; }
footer { min-height: 78px; margin-top: 40px; background-color: $footer-background-color; }